<div class="tab-pane active" id="about" role="tabpanel">
    <div class="col-xl-4">
        <div class="col-xl-8">
            <div class="card mb-0">
                <div class="tab-content p-4">
                    <div class="tab-pane active" id="about" role="tabpanel">
                        <div>
                            <h4 class="font-size-16 mb-4">Experience</h4>
                            <ul class="activity-feed mb-0 ps-2">
                                <li class="feed-item">
                                    <div class="feed-item-list">
                                        <p class="text-muted mb-1">MARCH 2023 - JULY 2024</p>
                                        <h5 class="font-size-16">Civil Engineer</h5>
                                        <p>Ak Plus Yapı Denetim, İstanbul</p>
                                        <p class="text-muted">I looked over the tasks given to the building inspection team. In the field, adherence to the Project was verified. Every document created and followed up on during the Project was prepared. A design was created and the necessary locations for the pouring of concrete were looked for. While the concrete was being poured, I checked it.</p>
                                    </div>
                                </li>
                                <li class="feed-item">
                                    <div class="feed-item-list">
                                        <p class="text-muted mb-1">MARCH 2015 - FEBRUARY 2023</p>
                                        <h5 class="font-size-16">Manager of Department & Analysis of The Daily Movements of Actual Cash Flow</h5>
                                        <p>Koton, İstanbul</p>
                                        <p class="text-muted">Creating Power BI reports, comparing them with reports that are received and reviewing the reports. Reviewing sales information based on products and providing weekly comparisons. Finding the top-selling items. Comparing turnover shares based on products hourly. Conducting monthly cash audits. Providing a score based on the reporting of missing documents and aspects. Regulating the everyday movements of cash. Calculating the daily rates of profit and loss charging. Solving problems quickly and practically at the cash register. Creating weekly work schedules for the crew. Figuring out employee pay and benefits. Resolving any issues pertaining to personnel.</p>
                                    </div>
                                </li>
                                <li class="feed-item">
                                    <div class="feed-item-list">
                                        <p class="text-muted mb-1">JUNE 2017 - JULY 2017</p>
                                        <h5 class="font-sized-16">Intern Civil Engineer</h5>
                                        <p>Municipality of Arnavutköy, İstanbul</p>
                                        <p class="text-muted">I used Autocad for architectural control and 3D Max for static control when it came to construction projects that the municipality received.</p>
                                    </div>
                                </li>
                                <li class="feed-item">
                                    <div class="feed-item-list">
                                        <p class="text-muted mb-1">JUNE 2016 - JULY 2016</p>
                                        <h5 class="font-sized-16">Intern Civil Engineer</h5>
                                        <p>Ağaoğlu Group of Companies, İstanbul</p>
                                        <p class="text-muted">To guarantee overall Project management, I made sure the structures that were assigned to us were followed up on.</p>
                                    </div>
                                </li>
                            </ul>
                            <h4 class="font-size-16 mb-4">Education</h4>
                            <ul class="activity-feed mb-0 ps-2">
                                <li class="feed-item">
                                    <div class="feed-item-list">
                                        <p class="text-muted mb-1">SEPTEMBER 2014 - JUNE 2018</p>
                                        <h5 class="font-size-16">Bachelor of Civil Engineering</h5>
                                        <p>Karabük University</p>
                                    </div>
                                </li>
                                <li class="feed-item">
                                    <div class="feed-item-list">
                                        <p class="text-muted mb-1">JUNE 2014</p>
                                        <p>Sağmalcılar Anatolian High School-İstanbul</p>
                                    </div>
                                </li>
                            </ul>
                            <h4 class="font-size-16 mb-4">Foreign Language & Computer Skills</h4>
                            <ul class="activity-feed mb-0 ps-2">
                                <div class="feed-item-list">
                                    <p>
                                        English (Upper-Intermediate) <br />
                                        German (Beginning)<br />
                                        French (Beginning)<br />
                                        Ms Office; Excel (advanced), Word (advanced), PowerPoint (advanced)<br />
                                        Microsoft SQL Server (advanced)<br />
                                        C# (advanced)<br />
                                        .NET<br />
                                        ASP.NET<br />
                                        Autocad (basic)<br />
                                        3D Max (basic)<br />
                                        MS Project (basic)<br />
                                    </p>
                                </div>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

